.lista {
    position: relative;
    width: 100%;  
    
    display: grid;
    grid-template-columns: repeat(3, minmax(190px, 1fr));;
    gap: 15px;  
}

ul {
    margin: 0;
    padding: 0 0 60px 0;
    list-style: none;
}

@media (max-width: 940px) {
    .lista {
        grid-template-columns: repeat(2, minmax(190px, 1fr));;
    }
}

@media (max-width: 480px) {
    .lista {
        grid-template-columns: 1fr;
    }
}