body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #424240;
  overflow-x: hidden;
}

#root {
  margin: 0;
  position: relative;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: rgba(166, 166, 144,0.15);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #A6A690;
  border-radius: 10px;
}