.empty-card {
    background-color: #F2F2EB;
    border-radius: 2rem;    
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    height: auto;
    width: 75%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 12.5%;
    animation-duration: 2.5s;
    animation-name: wiggle;
    animation-iteration-count: infinite;
    padding: 12px;
}

.empty-check{    
    position: absolute;
    left: 12px;
    background-color: rgba(166, 166, 145, 0.25);
    height: 48px;
    width: 48px;
    border-radius: 35%;
}

.empty-text {
    margin-left: 24px;
    width: calc(100% - 96px);
    font-size: 18px;
    color: rgba(166, 166, 144, 0.75);
}

.empty-close {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgba(166, 166, 144, 0.25);
    height: 15px;
    width: 15px;
    border-radius: 35%;
}

@keyframes wiggle {
    0%, 7% {
      transform: translateX(0);
    }
    15% {
      transform: translateX(-1rem);
    }
    20% {
      transform: translateX(1rem);
    }
    25% {
      transform: translateX(-1rem);
    }
    30% {
      transform: translateX(0.6rem);
    }
    35% {
      transform: translateX(-0.4rem);
    }
    40%, 100% {
      transform: translateX(0);
    }
}