.TodoCounter {
    font-size: 24px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin: 0;
    padding: 48px;
    color: #73736F;
}

.TodoCounter--loading{
    opacity: 25%;
}